@model IEnumerable<WebsiteBanDTOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <!-- Banner -->

    <div class="banner">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4" >
                        <div class="banner_item align-items-center rounded-2" style="background-image: url(@item.Image)">
                            <div class="banner_category rounded-2">
                                <a href="@item.Alias">@item.Name</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

}
