################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebsiteBanDTOnline/FileContentIndex/merges/fd944715-c3dd-44b8-9430-8b00a7f7b719.vsidx
