@{
    ViewBag.Title = "Home Page";
}
<title>8-Bit Store</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css?version=1">
<link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css?version=1" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/styles/main_styles.css"/>
<link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<!-- Slider -->

<div class="main_slider">
    <div style="display: block">
        <div class="block-top-home is-flex">
            <div class="block-top-home__sliding-banner">
                <div class="block-sliding-home">
                    <div class="swiper-container gallery-top swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-dulicate" data-swiper-slide-index="1">
                                <img src="~/Uploads/images/Banner/slider-1.jpg" />
                            </div>
                            <div class="swiper-slide swiper-slide-dulicate" data-swiper-slide-index="2">
                                <img src="~/Uploads/images/Banner/slider-2.jpg" />
                            </div>
                            <div class="swiper-slide swiper-slide-dulicate" data-swiper-slide-index="3">
                                <img src="~/Uploads/images/Banner/slider-7.jpg" />
                            </div>
                            <div class="swiper-slide swiper-slide-dulicate" data-swiper-slide-index="4">
                                <img src="~/Uploads/images/Banner/slidesr-4.jpg" />
                            </div>
                            <div class="swiper-slide swiper-slide-dulicate" data-swiper-slide-index="5">
                                <img src="~/Uploads/images/Banner/slider-6.png" />
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="block-top-home__right-banner">
                <div class="right-banner">
                    <a class="right-banner__item">
                        <img src="~/Uploads/images/Banner/banner1.jpg" class="right-banner__img" style="width: 700px; height: 120px;" />
                    </a>
                    <a class="right-banner__item">
                        <img src="~/Uploads/images/Banner/banner2.jpg" class="right-banner__img " />
                    </a>
                    <a class="right-banner__item">
                        <img src="~/Uploads/images/Banner/banner3.jpg" class="right-banner__img" style="width: 700px; height: 120px;" />
                    </a>
                </div>
            </div>
        </div>
        <div class="horizontal-banner"></div>
    </div>
</div>
<!-- Banner -->
@Html.Action("MenuProductCategory", "Menu")
<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        @Html.Action("MenuArrivals", "Menu")
    </div>
</div>

<!-- Deal of the week -->

<div class="deal_ofthe_week">
    <div class="container"/>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    <img src="../Uploads/images/Banner/bannerphone.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-right deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                    <div class="section_title">
                        <h2>Ưu đãi cuối tuần</h2>
                    </div>
                    <ul class="timer">
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="day" class="timer_num">03</div>
                            <div class="timer_unit">Ngày</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="hour" class="timer_num">15</div>
                            <div class="timer_unit">Giờ</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="minute" class="timer_num">45</div>
                            <div class="timer_unit">Phút</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="second" class="timer_num">23</div>
                            <div class="timer_unit">Giây</div>
                        </li>
                    </ul>
                    <div class="blue_button deal_ofthe_week_button"><a href="#">Mua ngay</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Best Sellers -->

<!-- Benefit -->


<!-- Blogs -->
@Html.Action("Partial_New_Home", "New")

<!-- Newsletter -->

<!-- Footer -->

<footer class="footer" style="position: static; margin-top: 50px;">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>Thông tin và chính sách</h4>
                <ul>
                    <li><a href="#">Mua hàng và thanh toán Online</a></li>
                    <li><a href="#">Tra thông tin đơn hàng</a></li>
                    <li><a href="#">Xem ưu đãi thành vi</a></li>
                    <li><a href="#">Tra thông tin bảo hành</a></li>
                    <li><a href="#">Dịch vụ bảo hành điện thoại</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Dịch vụ và thông tin khác</h4>
                <ul>
                    <li><a href="#">Khách hàng doanh nghiệp (B2B)</a></li>
                    <li><a href="#">Ưu đãi thanh toán</a></li>
                    <li><a href="#">Quy chế hoạt động</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Liên hệ hợp tác kinh doanh</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Chăm sóc khách hàng</h4>
                <ul>
                    <li><a href="#">Trung tâm trợ giúp</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Vận chuyển</a></li>
                    <li><a href="#">Trả hàng và hoàn tiền</a></li>
                    <li><a href="#">Chăm sóc khách hàng</a></li>
                    <li><a href="#">Thanh toán</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Theo dõi chúng tôi</h4>
                <div class="social-links">
                    <a href="#"><i class="ri-facebook-circle-line"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-youtube-line"></i></a>
                    <a href="#"><i class="ri-steam-fill"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/styles/bootstrap4/popper.js"></script>
<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="~/Js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-container", {
        cssMode: true,
        loop: true,
        centeredSlide: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },
        breakpoints: {
            0: {
                slidePerview: 1,
            },
            768: {
                slidePerview: 2,
            },
            1024: {
                slidePerview: 3,
            },
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>