
@{
    ViewBag.Title = "Thanh toán";
}
<style>
    .error {
        color: red;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/categories_responsive.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Index","ShoppingCart")"><i class="fa fa-angle-right" ></i>Giỏ hàng</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="">Thanh toán</h1>
                    <p>Thông tin đơn hàng</p>
                </div>

            </div>
            <hr />
            @if (ViewBag.CheckCart != null)
            {
                <div class="container" style="width:60%;">
                    <div class="row">

                        <div class="col-md-6 ml-5">
                            @Html.Action("Partial_CheckOut", "ShoppingCart")
                        </div>
                        <div class="col-md-5">
                            @Html.Action("Partical_Item_ThanhToan", "ShoppingCart")

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    Bạn chưa có sản phẩm nào
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>
    <script>
        function OnSuccessCO(rs) {
            if (rs.Success) {
                $('#show_success').html("Đặt hàng thành công");
            }
        }
        $(document).ready(function () {
            $('#myForm').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'CustomerName': 'Bạn không để trống trường này',
                    'Phone': 'Bạn không để trống trường này',
                    'Address': 'Bạn không để trống trường này',
                    'Email': 'Email chưa hợp lệ'
                });
        });
    </script>
}
<!-- Footer -->

<footer class="footer" style="position: static; margin-top: 50px;">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>Thông tin và chính sách</h4>
                <ul>
                    <li><a href="#">Mua hàng và thanh toán Online</a></li>
                    <li><a href="#">Tra thông tin đơn hàng</a></li>
                    <li><a href="#">Xem ưu đãi thành vi</a></li>
                    <li><a href="#">Tra thông tin bảo hành</a></li>
                    <li><a href="#">Dịch vụ bảo hành điện thoại</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Dịch vụ và thông tin khác</h4>
                <ul>
                    <li><a href="#">Khách hàng doanh nghiệp (B2B)</a></li>
                    <li><a href="#">Ưu đãi thanh toán</a></li>
                    <li><a href="#">Quy chế hoạt động</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Liên hệ hợp tác kinh doanh</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Chăm sóc khách hàng</h4>
                <ul>
                    <li><a href="#">Trung tâm trợ giúp</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Vận chuyển</a></li>
                    <li><a href="#">Trả hàng và hoàn tiền</a></li>
                    <li><a href="#">Chăm sóc khách hàng</a></li>
                    <li><a href="#">Thanh toán</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Theo dõi chúng tôi</h4>
                <div class="social-links">
                    <a href="#"><i class="ri-facebook-circle-line"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-youtube-line"></i></a>
                    <a href="#"><i class="ri-steam-fill"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>




