
@model WebsiteBanDTOnline.Models.EF.User
@{
    ViewBag.Title = "Đăng nhập";
}
<link href="~/styles/login.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Animated Login Form | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    @using (Html.BeginForm("Authen", "Login", FormMethod.Post))
    {
           <section>
               <div class="form-box">
                   <div class="form-value">
                       <form action="">
                           <h2>Đăng nhập</h2>
                           <div class="inputbox">
                               <ion-icon name="mail-outline"></ion-icon>
                               @Html.TextBoxFor(x => x.Email, new { @type = "email" })
                               <label for="">Email</label>
                           </div>
                           <div class="inputbox">
                               <ion-icon name="lock-closed-outline"></ion-icon>
                               @Html.TextBoxFor(x => x.Password, new { @type = "password" })
                               <label for="">Mật khẩu</label>
                           </div>
                           <div class="forget">
                               <label for=""><input type="checkbox">Nhớ tài khoản </label>
                               <a href="#">Quên mật khẩu</a>
                           </div>
                           <button>Log in</button>
                           <div class="register" style="color: #fff;">
                               <p>Không có tài khoản <a href="#">Đăng ký</a></p>
                           </div>
                       </form>
                   </div>
               </div>
           </section>
         
    }
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
