@model WebsiteBanDTOnline.Models.EF.User
@{
    ViewBag.Title = "Đăng ký";
}
<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css?version=1">
<link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css?version=1" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/responsive.css?version=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link href="~/styles/login.css" rel="stylesheet" />

<body>
    @using (Html.BeginForm("Register", "Login", FormMethod.Post))
    {
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="">
                        <h2>Đăng ký</h2>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            @Html.TextBoxFor(x => x.FirsName, new {  autocomplete = "off" })
                            <label for="">Họ</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            @Html.TextBoxFor(x => x.LastName, new {  autocomplete = "off" })
                            <label for="">Tên</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            @Html.TextBoxFor(x => x.Email, new { @type = "email", autocomplete = "off" })
                            <label for="">Email</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            @Html.TextBoxFor(x => x.Password, new { @type = "password", autocomplete = "off" })
                            <label for="">Mật khẩu</label>
                        </div>

                        <button>Đăng ký</button>

                    </form>
                </div>
            </div>
        </section>

    }
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

